<header>
    <div class="barra contenedor">
        <div class="barra__logo">
            <img src="../img/LogoTransp.svg" alt="Logo de Viaje" style="width: 50px; height: 50px;margin: 10px">
        </div>
        <nav class="barra__navegacion">
            <a class="barra__link" ><strong><%= nombre %></strong></a>
        </nav>
        <nav class="barra__login">
            <a class="barra__link" href="/protected/cerrarSesion" id="cerrarSesion"><strong>Cerrar Sesion</strong></a>
        </nav>
    </div>
</header>