<div class="modal fade" id="empresasModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Seleciona la Empresa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form" id="formEmpresa">
                    <div class="empresa-itemm">
                        <div class="fomulario__campo">
                            <label class="formulario__label" for="empresa">Seleciona la Empresa que deseas descargar
                                solicitudes</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="Moras Finas">
                                <label class="form-check-label" for="inlineRadio1">Moras Finas</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="	Bayas del Centro">
                                <label class="form-check-label" for="inlineRadio2">Bayas del Centro</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="	Bioagricultura">
                                <label class="form-check-label" for="inlineRadio3">Bioagricultura</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                    value="Lugar Agricola">
                                <label class="form-check-label" for="inlineRadio4">Lugar Agricola</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                    value="todo">
                                <label class="form-check-label" for="inlineRadio5">Todas las empresas</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="formulario__campo">
                    <button class="formulario__submit" form="formEmpresa" type="submit" id="btnRegistrar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>