<div class="modal fade" id="modalFormCompletadas" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="modalInformacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalInformacionLabel">
                    <i class="bi bi-info-circle me-2"></i>Registrar Mezcla
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="formSolicitudCompleta" class="form">
                        <!-- ranchos -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="rancho">Rancho destino</label>
                            <select id="rancho" class="formulario__input" required>
                                <option value="">Seleccione un rancho</option>
                                <% ranchos.forEach(function(rancho) { %>
                                    <option value="<%= rancho %>">
                                        <%= rancho %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <!-- centro de coste -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="centroCoste">Centro de coste</label>
                            <select id="centroCoste" class="formulario__input" required>
                                <option value="">Seleccione un centro de coste</option>
                                <!-- Se poblará dinámicamente con JavaScript -->
                            </select>
                        </div>
                        <!-- variedades -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="variedad">Variedades</label>
                            <select id="variedad" class="formulario__input" required>
                                <option value="">Seleccione una variedad</option>
                                <!-- Se poblará dinámicamente con JavaScript -->
                            </select>
                        </div>
                        <!-- folio -->
                        <div class="formulario__campo" id="campoFolio" style="display: block;">
                            <label class="formulario__label" for="folio">Folio de receta</label>
                            <input type="text" id="folio" class="formulario__input"
                                placeholder="Ingrese el folio de receta" required>
                        </div>
                        <!-- temporada -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="temporada">Temporada</label>
                            <select id="temporada" class="formulario__input" required>
                                <option value="">Seleccione una temporada</option>
                                <option value="Julio23-Junio24">Julio23-Junio24</option>
                                <option value="Julio24-Junio25">Julio24-Junio25</option>
                                <option value="Julio25-Junio26">Julio25-Junio26</option>
                            </select>
                        </div>
                        <!-- presentacion -->
                        <div class="formulario__campo" id="campoUnidad" style="display: block;">
                            <label class="formulario__label" for="presentacion">Presentación de
                                mezcla</label>
                            <select id="presentacion" class="formulario__input" required>
                                <option value="">Seleccione una presentación</option>
                                <option value="Willi">Willi</option>
                                <option value="Barril">Barril</option>
                                <option value="Garrafa">Garrafa</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <!-- cantidad -->
                        <div class="formulario__campo" id="campoCantidad" style="display: block;">
                            <label class="formulario__label" for="cantidad">Cantidad de mezcla</label>
                            <input type="text" id="cantidad" class="formulario__input"
                                placeholder="Ingrese la cantidad de mezcla" required>
                        </div>
                        <!-- metodo de aplicacion -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="metodoAplicacion">Método de
                                Aplicación</label>
                            <select id="metodoAplicacion" class="formulario__input" required>
                                <option value="">Seleccione un método</option>
                                <option value="Foliar">Foliar</option>
                                <option value="Drench">Drench</option>
                                <option value="Trampeo">Trampeo</option>
                                <option value="Herbicida">Herbicida</option>
                                <option value="Termonebulizacion">Termonebulización</option>
                                <option value="Filtro">Filtro</option>
                                <option value="Riego">Riego</option>
                                <option value="Preparacion de Tierras">Preparación de Tierras</option>
                                <option value="Enmienda">Enmienda</option>
                            </select>
                        </div>
                        <!-- descripcion -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="descripcion">Descripción</label>
                            <textarea id="descripcion" class="formulario__input" placeholder="Ingrese una descripción"
                                rows="3"></textarea>
                        </div>

                        <!-- imputs para tomar o subir imagen -->
                        <div class="formulario__campo">
                            <label class="formulario__label" for="tomarFoto">Imagen Receta</label>
                            <button type="button" class="formulario__submit" id="tomarFoto">Tomar
                                foto</button>
                            <br>
                            <button type="button" class="formulario__submit" id="subirFoto">Subir
                                foto</button>
                        </div>
                        <textarea type="text" id="fileInput" hidden></textarea>
                        <div class="formulario__campo" id="InputImage" style="display: none;">
                            <label class="formulario__label" for="fileInput">Imagen producto</label>
                            <br>
                            <select name="listaDeDispositivos" id="listaDeDispositivos"
                                class="formulario__input"></select>
                            <button class="formulario__submit btnTomarFoto" style="display: block;">Tomar foto</button>
                            <button class="formulario__submit btnOtraFoto" style="display: none;">Tomar otra
                                foto</button>
                            <p id="estado"></p>
                            <video muted="muted" id="video"></video>
                            <canvas id="canvas" style="display: none;"></canvas> <!--ojo-->
                            <img src="" alt="" class="photo" />
                        </div>
                        <div class="formulario__campo" id="fileImage" style="display: none;">
                            <label for="imageFile" class="formulario__label">Subir Imagen:</label>
                            <input type="file" name="imageFile" id="imageFile" class="formulario__input"
                                placeholder="Seleciona Una imagen" accept="image/*">
                            <canvas id="canvas1" style="display: none;">
                            </canvas>
                        </div>

                        <div class="formulario__campo">
                            <button class="formulario__submit" id="btnEntregada">Cerras Mezcla</button>
                        </div>
                        <!-- productos -->
                        <div class="formulario__campo">
                            <label class="formulario__label">Productos</label>
                            <div id="productosContainer">
                                <!-- Agregar más campos de producto según sea necesario -->
                            </div>
                        </div>
                        <!-- boton agregar producto -->
                        <div class="formulario__campo">
                            <button type="button" class="formulario__submit" id="agregarProducto">
                                + Agregar Producto
                            </button>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="formulario__submit" id="btnSolicitar">
                    Registar Mezcla
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="mdi mdi-exit-to-app me-2"></i>Cerrar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>