<div class="modal fade" id="modalCancelacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Motivo de cancelación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form" id="formCancelacion">
                    <div class="fomulario__campo">
                        <label class="formulario__label" for="empresa">Agregar Motivo De Cancelacion</label>
                        <textarea class="formulario__input" name="motivo" id="motivo" cols="30" rows="10" id="motivo"></textarea>
                    </div>
                    <div class="formulario__campo">
                        <button class="formulario__submit" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>