<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5">Receta</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <div class="card border-0">
                    <div class="card-body p-3">
                        <div class="titulo  mb-4">
                            <div class="text-center">
                                <h3>Receta</h3>
                            </div>
                        </div>
                        <% if ( rol==="mezclador" ) { %>
                            <button id="nuevoProducto" type="button" class="btn formulario__submit mb-3 w-100">
                                <i class="mdi mdi-plus-circle"></i>Agregar Producto
                            </button>
                            <% } %>
                                <hr>
                                <div class="table-container">
                                    <div class="table-responsive">
                                        <table class="table table-striped tanle table-bordered table-hover align-middle mobile-table w-100 table-sm"
                                            id="tbReceta">
                                            <thead class="bg-primary">
                                                <tr class="bg-primary">
                                                    <th>id</th>
                                                    <th>Producto</th>
                                                    <th>Unidad Medida</th>
                                                    <th>Cantidad</th>
                                                    <th>Confirmacion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Contenido de la tabla -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex gap-2 w-100 justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <% if ( rol==="mezclador" ) { %>
                        <button type="button" class="btn btn-primary" id="btnEnviarEstado">Guardar</button>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>