<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Detalles de la Receta</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="card border-0">
                    <div class="card-body p-3">
                        <% if ( rol==="mezclador" || rol==="administrativo" || rol==="master" ) { %>
                            <button id="btnNuevoProducto" type="button" class="btn btn-primary mb-3">
                                <i class="mdi mdi-plus-circle me-1"></i>
                                <span>Agregar Producto</span>
                            </button>
                        <% } %>                        <div class="table-responsive">
                            <table class="table table-hover table-striped align-middle" id="tbReceta">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-nowrap">ID</th>
                                        <th scope="col" class="text-nowrap">ID SAP</th>
                                        <th scope="col" class="text-nowrap">Producto</th>
                                        <th scope="col" class="text-nowrap">Unidad Medida</th>
                                        <th scope="col" class="text-nowrap">Cantidad</th>
                                        <th scope="col" class="text-nowrap">Confirmación</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <!-- El contenido de la tabla se llenará dinámicamente -->
                                </tbody>
                            </table>
                        </div>
                                
                                <!-- <hr>
                                <% if ( rol==="mezclador" || rol==="administrativo" ) { %>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold align-middle text-center w-100"
                                            for="mensaje">Notificacion para solicitante</label>
                                        <textarea class="form-control" name="mensaje" id="mensaje" rows="4"
                                            placeholder="Agregar detalles para solicitante"></textarea>
                                    </div>
                                    <% } %> -->
                    </div>
                </div>
            </div>            
            <div class="modal-footer">
                <div class="d-flex gap-2 w-100 justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <% if ( rol==="mezclador" || rol==="administrativo" || rol==="master" ) { %>
                        <button type="button" class="btn btn-primary" id="btnEnviarEstado">Guardar</button>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>