<div class="notification-container" id="notificationContainer">
    <div class="notification-card">
        <div class="notification-header">
            <h5>Mensaje del Solicitante</h5>
            <button type="button" class="notification-close" id="closeNotification" onclick="closeNotification()">&times;</button>
        </div>
        <div class="notification-body">
            <p id="mensajeNotificacion"></p>
        </div>
        <div class="notification-footer">
            <small id="fechaNotificacion"></small>
        </div>
    </div>
</div>