{
  "presets": [[
    "@babel/preset-env",
    {
      "targets": {
        "node": "24.0",
        "esmodules": true
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3
    }
  ]]
}