<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Panel de Administracion</li>
    <!-- reporte -->
    <li class="nav-item">
      <a class="nav-link" href="/protected/admin">
        <span class="icon-bg"><i class="mdi mdi-file-document menu-icon"></i></span>
        <span class="menu-title">Reporte Mezclas</span>
      </a>
    </li>
    <!-- Mesclas -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#authSolicitudes" aria-expanded="false"
        aria-controls="authSolicitudes">
        <span class="icon-bg"><i class="mdi mdi-file-plus menu-icon"></i></span>
        <span class="menu-title">Mezclas</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authSolicitudes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/protected/solicitud/confirmacion">
              <span>
                Confirmar Solicitudes
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/canceladas">
              <span>
                Solicitudes Canceladas
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/registrarSolicitud">
              <span>
                Registrar Mezcla
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/solicitud">
              <span>Realizar Solicitud</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/solicitudes">
              <span>
                Solicitudes Pendientes
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/proceso">
              <span>
                Solicitudes En Proceso
              </span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/completadas">
              <span>
                Solicitudes Completadas
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Combustibles -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#authCombustible" aria-expanded="false"
        aria-controls="authCombustible">
        <span class="icon-bg"><i class="mdi mdi-gas-station menu-icon"></i></span>
        <span class="menu-title">Combustibles</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authCombustible">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/protected/entradaCombustible">
              <span>
                Agregar Combustible
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/salidaCombustible">
              <span>
                Registrar Salida
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/cargaCombustible">
              <span>
                Registrar Carga
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/combustiblesEntrada">
              <span>
                Entradas De Combustible
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/combustiblesSalida">
              <span>
                Salidas De Combustible
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/protected/combustiblesCargas">
              <span>
                Cargas De Combustible
              </span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/inventario">
              <span>
                Inventario De Combustible
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Activos Fijos-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#authActivos" aria-expanded="false" aria-controls="authActivos">
        <span class="icon-bg"><i class="mmdi mdi-laptop menu-icon"></i></span>
        <span class="menu-title">Activos Fijos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authActivos">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/protected/FijosActivos">
              <span>
                Equipos
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/asignaciones">
              <span>
                Asignaciones Activas
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/bajas">
              <span>
                Equipos Baja
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/historialA">
              <span>
                Historial De Asignaciones
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protected/historialE">
              <span>Historial Activos Fijos</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Catálogos Corporativos -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#authCatalogo" aria-expanded="false"
        aria-controls="authCatalogo">
        <span class="icon-bg"><i class="mdi mdi-factory menu-icon"></i></span>
        <span class="menu-title">Catálogos Corporativos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authCatalogo">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/protected/empleadosU">Empleados</a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/productos">Productos</a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/centroCoste">Centros de Coste</a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/empresas">Empresas</a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/protected/departamentos">Departamentos</a></li>
          <li class="nav-item"> <a class="nav-link" href="/protected/ranchos">Ranchos</a></li>
        </ul>
      </div>
    </li>
    <!-- Catálogos Corporativos -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#authGrafica" aria-expanded="false" aria-controls="authGrafica">
        <span class="icon-bg"><i class="mdi mdi-chart-arc menu-icon"></i></span>
        <span class="menu-title">Graficas</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authGrafica">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/protected/grafica/entradas">Ingresos de Combustible</a> </li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/protected/grafica/salidas">Salidas de Combustible</a> </li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/protected/grafica/cargas">Cargas de Combustible</a> </li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/protected/grafica/activos">Activos Fijos</a> </li>
        </ul>
      </div>
    </li>

    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Configuraciones</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="/protected/cerrarSesion" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Cerrar Sesion</span></a>
      </div>
    </li>
  </ul>
</nav>
<!-- partial -->
<!-- spinner -->
<div class="spinner-overlay" id="spinner" style="display: none;">
  <div class="spinner-container">
    <div class="spinner"></div>
    <p class="spinner-text">Procesando...</p>
  </div>
</div>
<input type="hidden" name="rol" id="rol" value="<%= user.rol %>">
<input type="hidden" name="id" id="id">