<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Panel de Administracion</li>



    <!-- Fertilización -->
    <li class="nav-item" id="modulo_fertilizacion" style="display: none;">
      <a class="nav-link" data-toggle="collapse" href="#authFertilizacion" aria-expanded="false"
        aria-controls="authFertilizacion">
        <span class="icon-bg"><i class="mdi mdi-leaf menu-icon"></i></span>
        <span class="menu-title">Fertilización</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authFertilizacion">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" id="modulo_mezclas" style="display: none;">
            <a class="nav-link" href="/api/fertilizacion/mezclas">
              <span>
                Catálogo de Mezclas
              </span>
            </a>
          </li>
          <li class="nav-item" id="modulo_preparar_tanque" style="display: none;">
            <a class="nav-link" href="/api/fertilizacion/preparar-tanque">
              <span>
                Preparar Tanque
              </span>
            </a>
          </li>
          <li class="nav-item" id="modulo_registrar_aplicacion" style="display: none;">
            <a class="nav-link" href="/api/fertilizacion/nueva-estructura/registro">
              <span>
                Registrar Aplicación
              </span>
            </a>
          </li>
          <li class="nav-item" id="modulo_reportes" style="display: none;">
            <a class="nav-link" href="/api/fertilizacion/nueva-estructura/reportes">
              <span>
                Reportes y Gráficas
              </span>
            </a>
          </li>
        </ul>

      </div>
    </li>



    <!-- Catálogos Corporativos -->
    <li class="nav-item" id="modulo_catalogos_corporativos" style="display: none;">
      <a class="nav-link" data-toggle="collapse" href="#authCatalogo" aria-expanded="false"
        aria-controls="authCatalogo">
        <span class="icon-bg"><i class="mdi mdi-factory menu-icon"></i></span>
        <span class="menu-title">Catálogos Corporativos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="authCatalogo">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" id="modulo_empresas" style="display: none;">
            <a class="nav-link" href="/corporativo/empresas">Empresas</a>
          </li>
          <li class="nav-item" id="modulo_ranchos" style="display: none;">
            <a class="nav-link" href="/corporativo/ranchos">Ranchos</a>
          </li>
          <li class="nav-item" id="modulo_rancho_dsa" style="display: none;">
            <a class="nav-link" href="/corporativo/rancho-dsa">Rancho DSA</a>
          </li>
          <li class="nav-item" id="modulo_sectores" style="display: none;">
            <a class="nav-link" href="/corporativo/sectores">Sectores</a>
          </li>
          <li class="nav-item" id="modulo_tanques" style="display: none;">
            <a class="nav-link" href="/corporativo/tanques">Tanques</a>
          </li>
          <li class="nav-item" id="modulo_activos" style="display: none;">
            <a class="nav-link" href="/corporativo/activos-mezcla">Activos</a>
          </li>
        </ul>
      </div>
    </li>


    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Configuraciones</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="/api/usuario/logout" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Cerrar Sesion</span></a>
      </div>
    </li>
  </ul>
</nav>
<!-- partial -->
<!-- spinner -->
<div class="spinner-overlay" id="spinner" style="display: none;">
  <div class="spinner-container">
    <div class="spinner"></div>
    <p class="spinner-text">Procesando...</p>
  </div>
</div>