<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Mezclas</title>
    <link rel="icon" type="image/svg+xml" href="../img/LogoTransp.svg">
    <!-- datatables -->
    <link
        href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/date-1.5.2/r-3.0.2/datatables.css"
        rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- material desing  -->
    <link rel="stylesheet" type="text/css" href="../css/mdi/css/materialdesignicons.min.css">

    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/svg@7.4.47/meta.json">
    <!-- mis estilo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300,400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>


<body>
    <header>
        <div class="barra contenedor">
            <div class="barra__logo">
                <img src="../img/LogoTransp.svg" alt="Logo de Viaje" style="width: 50px; height: 50px;margin: 10px">
              </div>

            <nav class="barra__navegacion">
                <a class="barra__link" id="inicio"></a>
            </nav>

            <nav class="barra__login">
                <a class="barra__link" id="cerrarSesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>

    <section id="opciones" style="display: none;">
        <div class="formulario contenedor" id="viaje-form">
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="solicitar">Solicitar Mezcla</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="tbSolicitada">Mezclas Solicitadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="tbPreparada">Mezclas Preparadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="tbEntregadas">Mezclas Preparadas</button>
            </div>
        </div>
    </section>


    <!--seccion de almacen mezclas  -->

    <section id="opciones-almacen" class="opciones" style="display: none;">
        <div class="formulario contenedor" id="viaje-form">
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaPreparadas">Mezclas Preparadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaSolicidata">Mezclas Solicitadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaEntragadas">Mezclas Entregadas</button>
            </div>
        </div>
    </section>


    <!--seccion de visualizador  -->

    <section id="opciones-visual" class="opciones" style="display: none;">
        <div class="formulario contenedor" id="viaje-form">
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaSolicidataV">Mezclas Solicitadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaPreparadasV">Mezclas Preparadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="btnTablaEntragadasV">Mezclas Entregadas</button>
            </div>
        </div>
    </section>


    <!-- seccion de usuario miguel mora, este usuario puede realizar peticione a 
        bioagricultura, pero puede ver las solicitudes de morras ballas y bioagricultura-->
    <section id="opciones-visual-solicita" class="opciones" style="display:none;">
        <div class="formulario contenedor" id="viaje-form">
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="solicitarM">Solicitar</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="solicitudesM">Mezclas Solicitadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="preparadasM">Mezclas Preparadas</button>
            </div>
            <div class="formulario__campo">
                <button class="formulario__submit" type="button" id="EntregadasM">Mezclas Entregada</button>
            </div>
        </div>
    </section>




    <!-- seccion de formularios -->
    <!--formulario para realizar solicitudes-->
    <section id="SecMesclaz" class="formularios" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="form">
                                <div class="card">
                                    <div class="titulo">
                                        <div class="col">
                                            <button class="formulario__submit" id="regresarf"><span
                                                    class="mdi mdi-arrow-left-bold"></span></button>
                                        </div>
                                        <div class="text-center">
                                            <h3>Solicitar Mezcla</h3>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="rancho">Rancho destino</label>
                                        <select id="rancho" class="formulario__input">
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="centroCoste">Centro de coste</label>
                                        <select id="centroCoste" class="formulario__input">
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="variedad">Variedades</label>
                                        <select id="variedad" class="formulario__input">
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="folio">Folio de receta</label>
                                        <input type="text" id="folio" class="formulario__input"
                                            placeholder="Folio de receta">
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="temporada">Temporada</label>
                                        <select id="temporada" class="formulario__input">
                                            <option value="">Seleciona una opcion</option>
                                            <option value="Julio23-Junio24">Julio23-Junio24</option>
                                            <option value="Julio24-Junio25">Julio24-Junio25</option>
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="cantidad">Cantidad de mezcla</label>
                                        <input type="text" id="cantidad" class="formulario__input"
                                            placeholder="Cantidad de mezcla">
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="presentacion">Presnetacion de
                                            mezcla</label>
                                        <select id="presentacion" class="formulario__input">
                                            <option value="">Seleciona una opcion</option>
                                            <option value="Willi">Willi</option>
                                            <option value="Barril">Barril</option>
                                            <option value="Garrafa">Garrafa</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="metodoAplicacion">Metodo de
                                            Aplicacion</label>
                                        <select id="metodoAplicacion" class="formulario__input">
                                            <option value="">seleciona una opcion</option>
                                            <option value="Foliar">Foliar</option>
                                            <option value="Drench">Drench</option>
                                            <option value="Trampeo">Trampeo</option>
                                            <option value="Hervicida">Hervicida</option>
                                            <option value="Termonebulizacion">Termonebulizacion</option>
                                            <option value="Filtro">Filtro</option>
                                            <option value="Riego">Riego</option>
                                            <option value="Preparacion de Tierras">Preparacion de Tierras</option>
                                            <option value="Enmienda">Enmienda</option>
                                        </select>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="descripcion">Descripción</label>
                                        <textarea name="descripcion" id="descripcion" class="formulario__input"
                                            placeholder="descripcion"></textarea>
                                    </div>
                                    <!-- imputs para tomar o subir imagen -->
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="imagen">Imagen Receta</label>
                                        <button type="button" class="formulario__submit" id="tomarFoto">Tomar
                                            foto</button>
                                        <br>
                                        <button type="button" class="formulario__submit" id="subirFoto">Subir
                                            foto</button>
                                    </div>
                                    <textarea type="text" id="fileInput" hidden></textarea>
                                    <div class="formulario__campo" id="InputImage" style="display: none;">
                                        <label class="formulario__label" for="fileInput">Imagen producto</label>
                                        <br>
                                        <select name="listaDeDispositivos" id="listaDeDispositivos"
                                            class="formulario__input"></select>
                                        <button class="formulario__submit btnTomarFoto">Tomar foto</button>
                                        <button class="formulario__submit btnOtraFoto" style="display: none;">Tomar otra
                                            foto</button>
                                        <p id="estado"></p>
                                        <video muted="muted" id="video"></video>
                                        <canvas id="canvas" style="display: none;">
                                            <img src="" alt="" class="photo">
                                        </canvas>
                                    </div>
                                    <div class="formulario__campo" id="fileImage" style="display: none;">
                                        <label for="imageFile" class="formulario__label">Subir Imagen:</label>
                                        <input type="file" name="imageFile" id="imageFile" class="formulario__input"
                                            placeholder="Seleciona Una imagen" accept="image/*">
                                        <canvas id="canvas1" style="display: none;">
                                        </canvas>
                                    </div>
                                    <div class="formulario__campo">
                                        <button id="btnSolicitar" class="formulario__submit">Solicitar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <section id="formPreparadas" class="formularios" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="form">
                                <div class="card">
                                    <div class="titulo">
                                        <div class="col">
                                            <button class="formulario__submit" id="regresaPrepa"><span
                                                    class="mdi mdi-arrow-left-bold"></span></button>
                                        </div>
                                        <div class="text-center">
                                            <h3>Mesclas Solicitadas</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="folioi">Folio de Receta</label>
                                        <input type="text" class="formulario__input" id="folioi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="solicitai">Solicita</label>
                                        <input type="text" class="formulario__input" id="solicitai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="fechai">Fecha de Solicitud</label>
                                        <input type="text" class="formulario__input" id="fechai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="ranchoi">Rancho Destino</label>
                                        <input type="text" class="formulario__input" id="ranchoi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="centroCostei">Centro de coste</label>
                                        <input type="text" class="formulario__input" id="centroCostei" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="variedadi">Variedad</label>
                                        <input type="text" class="formulario__input" id="variedadi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="empresai">Empresa</label>
                                        <input type="text" class="formulario__input" id="empresai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="temporadai">Temporada</label>
                                        <input type="text" class="formulario__input" id="temporadai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="cantidadi">Cantidad de producto</label>
                                        <input type="text" class="formulario__input" id="cantidadi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="presentacioni">Presentacion</label>
                                        <input type="text" class="formulario__input" id="presentacioni" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="metodoi">Metodo de aplicacion</label>
                                        <input type="text" class="formulario__input" id="metodoi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="descripcioni">Descripcion</label>
                                        <input type="text" class="formulario__input" id="descripcioni" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label">Imagen producto</label>
                                        <div id="btnReceta"></div>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="notaMezcla">Nota de mezclador</label>
                                        <textarea id="notaMezcla" class="formulario__input"></textarea>
                                    </div>
                                    <div class="formulario__campo">
                                        <button type="button" class="formulario__submit" id="btnGuardarMescla">Guardar
                                            mescla</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="formCerrar" class="formularios" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="form">
                                <div class="titulo">
                                    <div class="col">
                                        <button class="formulario__submit" id="regresarCerrar"><span
                                                class="mdi mdi-arrow-left-bold"></span></button>
                                    </div>
                                    <div c class="text-center">
                                        <h3>Cerrar Mezcla</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="formulario__campo">
                                    <label class="formulario__label" for="idMesclas">Folio Receta</label>
                                    <input type="text" class="formulario__input" id="idMesclas" readonly>
                                </div>

                                <!-- imputs para tomar o subir imagen -->
                                <div class="formulario__campo">
                                    <label class="formulario__label" for="imagen">Imagen Receta</label>
                                    <button type="button" class="formulario__submit" id="tomarFotoC">Tomar foto</button>
                                    <br>
                                    <button type="button" class="formulario__submit" id="subirFotoC">Subir foto</button>
                                </div>
                                <input type="text" id="imagenEntrega" hidden>
                                
                                <div class="formulario__campo" id="InputImageC" style="display: none;">
                                    <label class="formulario__label" for="imagenEntrega">Imagen</label>
                                    <br>
                                    <select class="formulario__input" name="listaDeDispositivosC"
                                        id="listaDeDispositivosC"></select>
                                    <button class="formulario__submit btnTomarFotoCerrar">Tomar foto</button>
                                    <button class="formulario__submit btnOtraFotoCerrar" style="display: none;">Tomar
                                        otra foto</button>
                                    <p id="estadoC"></p>
                                    <video muted="muted" id="videoC"></video>
                                    <canvas id="canvasC" style="display: none;">
                                        <img src="" alt="" class="photoC">
                                    </canvas>
                                </div>
                                <div class="formulario__campo" id="fileImageC" style="display: none;">
                                    <label for="imageFileC" class="formulario__label">Subir Imagen:</label>
                                    <input type="file" name="imageFileC" id="imageFileC" class="formulario__input"
                                        placeholder="Seleciona Una imagen" accept="image/*">
                                    <canvas id="canvas2" style="display: none;">
                                    </canvas>
                                </div>





                                <div class="formulario__campo">
                                    <button class="formulario__submit" id="btnEntregada">Cerras Mezcla</button>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>



    <!-- secciones de tablas  -->
    <!-- tabla de mezclas general -->
    <section id="tablaMesclaSolicitada" class="tablas" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="titulo">
                                <div class="col">
                                    <button class="formulario__submit" id="regresarO"><span
                                            class="mdi mdi-arrow-left-bold"></span></button>
                                </div>
                                <div class="text-center">
                                    <h3> Tabla de Mezclas</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table
                                    class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                    id="tbSolicitadas" style="white-space: nowrap;">
                                    <thead class="bg-primary">
                                        <tr class="bg-primary">
                                            <th>id Mescla</th>
                                            <th>Solicita</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Rancho destino</th>
                                            <th>Empresa</th>
                                            <th>Centro de Coste</th>
                                            <th>Variedad</th>
                                            <th>Folio</th>
                                            <th>Temporada</th>
                                            <th>Cantidad de Producto</th>
                                            <th>Presentacion de Producto</th>
                                            <th>Metodo de Aplicacion</th>
                                            <th>Imagen Receta</th>
                                            <th>Descripcion</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Contenido de la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- tabla de mezclas entregadas -->
    <section id="tabladeMezclaPreparacion" class="tablas" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="titulo">
                                <div class="col">
                                    <button class="formulario__submit" id="regresarP"><span
                                            class="mdi mdi-arrow-left-bold"></span></button>
                                </div>
                                <div class="text-center">
                                    <h3>Mezclas preparacion</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table
                                    class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                    id="tbPreparadas" style="white-space: nowrap;">
                                    <thead class="bg-primary">
                                        <tr class="bg-primary">
                                            <th>id Mescla</th>
                                            <th>Solicita</th>
                                            <th>Nota de almacen</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Rancho destino</th>
                                            <th>Empresa</th>
                                            <th>Centro de Coste</th>
                                            <th>Variedad</th>
                                            <th>Folio</th>
                                            <th>Temporada</th>
                                            <th>Cantidad</th>
                                            <th>Presentacion</th>
                                            <th>Aplicacion</th>
                                            <th>Imagen Receta</th>
                                            <th>Descripcion</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Contenido de la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- tabla de mezclas con acciones -->
    <section id="tabladeMezclaEntredas" class="tablas" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">

                            <div class="titulo">
                                <div class="col">
                                    <button class="formulario__submit" id="regresarS"><span
                                            class="mdi mdi-arrow-left-bold"></span></button>
                                </div>
                                <div class="text-center">
                                    <h3>Mezclas Entregadas</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table
                                    class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                    id="tbCerradas" style="white-space: nowrap;">
                                    <thead class="bg-primary">
                                        <tr class="bg-primary">
                                            <th>id Mescla</th>
                                            <th>Solicita</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Rancho destino</th>
                                            <th>Empresa</th>
                                            <th>Centro de Coste</th>
                                            <th>Folio</th>
                                            <th>Temporada</th>
                                            <th>Cantidad de Producto</th>
                                            <th>Presentacion de Producto</th>
                                            <th>Metodo de Aplicacion</th>
                                            <th>Descripcion</th>
                                            <th>variedad</th>
                                            <th>Imagen Receta</th>
                                            <th>Nota de almacen</th>
                                            <th>Imagen Entrega</th>
                                            <th>Fecha de Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Contenido de la tabla -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Modal2 pdf-->
    <div class="modal" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="pdfModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed id="pdfEmbed" src="" type="image/jpeg" width="100%" height="500px" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <!--boostrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--funciones de data table-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
        src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/date-1.5.2/r-3.0.2/datatables.js"></script>
    <!--fontaWesome  -->
    <script src="https://kit.fontawesome.com/c656def1ce.js" crossorigin="anonymous"></script>
    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Firebase Configuración y funciones -->
    <script src="../js/inicio.js" type="module"></script>
</body>

</html>
<script type="module">
    import { abrirMezcla, abrirReceta,abrirFormCerrar } from "../js/inicio.js";

    const Receta = (foto) => {
        abrirReceta(foto);
    }
    const mezcla = (idUsuario) => {
        abrirMezcla(idUsuario)
    }
    const entregar = (idMescla) => {
        abrirFormCerrar(idMescla)
    }
    window.Receta = Receta;
    window.entregar = entregar;
    window.mezcla = mezcla; // Exportar la función al objeto global window
</script>