<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/errorpage.css">
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div class="error-content">
            <div class="error-number"><%= codeError %></div>
            <div class="error-divider">
                <h2>¡Lo sentimos!</h2>
                <h3><%= errorMsg %></h3>
            </div>
            <div class="error-actions">
                <a href="javascript:history.back()" class="home-link">Regresar</a>
            </div>
            <footer class="error-footer">
                <p>&copy; 2024 Todos los derechos reservados.</p>
            </footer>
        </div>
    </div>
</body>
</html>