<title>Mezclas LG</title>

<!-- datatables -->
<link href="../vendors/dataTables/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../vendors/dataTables/dataTables.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="../vendors/dataTables/buttons.dataTables.min.css">
<link href="../vendors/dataTables/dataTables.dateTime.min.css" rel="stylesheet">

<!-- plugins:css -->
<link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="../vendors/boostrap-bundle/bootstrap-datepicker.min.css">


<link rel="stylesheet" href="../css/style.css">
<!-- End layout styles -->
<link rel="icon" type="image/svg+xml" href="../img/LogoTransp.png">
<!--  -->

