<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        </div>
        <div class="modal-body">
          <form id="formProducto">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del producto" >
            </div>
            <div class="form-group">
              <label for="id_sap">ID Sap</label>
              <input type="text" class="form-control" id="id_sap" name="id_sap" placeholder="id de sap"  >
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Agregar descripcion del producto" >
            </div>
            <div class="form-group">
              <label for="unidad_medida">Unidad de Medida</label>
              <select name="unidad_medida" class="form-control" id="unidad_medida">
                <option value="">Seleciona una opcion</option>
                <option value="Litro">Litro</option>
                <option value="Kilogramo">Kilogramo</option>
                <option value="Unidad">Unidad</option>
              </select>
            </div>
          </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" form="formProducto" class="btn btn-primary" id="btnRegistrar">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>