<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
      </div>
      <div class="modal-body">
        <div class="forms-sample" id="formEditar">
          <div class="form-group">
            <label for="noEmpleado">Numero de Empleado</label>
            <input type="text" class="form-control" id="noEmpleado" placeholder="noEmpleado" >
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" placeholder="Agregar fecha" >
          </div>
          <div class="form-group">
            <label for="hora">Hora Registro</label>
            <input type="time" class="form-control" id="hora" >
          </div>
          <div class="form-group">
            <label for="vivienda">Vivienda</label>
            <select name="vivienda" class="form-control" id="vivienda">
              <!--Cargamnos los datos de la vivienda  -->
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="cerrarModal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="guardar">Guardar</button>
            <button type="button" class="btn btn-primary" id="editar">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>