<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Agregar en el head del documento -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/headerNotificaciones.css">
    <title>Mezclas</title>
    <%- include("../../templates/mezclas/cabecera") %>
</head>


<body>
    <!-- impórtamos en navegador -->
    <%- include("../../templates/mezclas/headerNav") %>
        <section class="opciones">
            <div class="formulario contenedor" id="viaje-form">
                <% if (['solicita', 'solicitaVisual' , 'solicita2' ].includes(rol)) { %>
                    <div class="formulario__campo">
                        <button class="formulario__submit" type="button" id="solicitar">Solicitar</button>
                    </div>
                    <% } %>
                        <div class="formulario__campo">
                            <button class="formulario__submit" type="button" id="solicitud">Mezclas Solicitadas</button>
                        </div>
                        <div class="formulario__campo">
                            <button class="formulario__submit" type="button" id="preparadas">Mezclas En Proceso</button>
                        </div>
                        <div class="formulario__campo">
                            <button class="formulario__submit" type="button" id="entregadas">Mezclas
                                Completadas</button>
                        </div>
            </div>
        </section>
        <%- include("../../templates/mezclas/scripts") %>
        <script type="module" src="../app/main.js"></script>
</body>

</html>