<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Mezclas</title>
    <%- include("../../templates/mezclas/cabecera") %>
</head>


<body>
    <header>
        <div class="barra contenedor">
            <div class="barra__logo">
                <img src="../img/LogoTransp.svg" alt="Logo de Viaje" style="width: 50px; height: 50px;margin: 10px">
            </div>

            <nav class="barra__navegacion">
                <a class="barra__link" id="inicio"></a>
            </nav>

            <nav class="barra__login">
                <a class="barra__link" href="/protected/cerrarSesion" id="cerrarSesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>
    <input type="hidden" value="<%= rol %>" id="rol">
    <section class="tablas" id="tablaFuciones" class="tablas" style="display: block;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="titulo">
                                <div class="col">
                                    <button class="formulario__submit" id="regresar"><span
                                            class="mdi mdi-arrow-left-bold"></span></button>
                                </div>
                                <div class="text-center">
                                    <h3>Mezclas en Proceso</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table
                                    class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                    id="tbPreparadas" style="white-space: nowrap;">
                                    <thead class="bg-primary">
                                        <tr class="bg-primary">
                                            <th>Solicitud</th>
                                            <th>Solicita</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Rancho destino</th>
                                            <th>Empresa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Contenido de la tabla -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="formPreparadas" class="formularios" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="form">
                                <div class="card">
                                    <div class="titulo">
                                        <div class="col">
                                            <button class="formulario__submit" id="regresatabla"><span
                                                    class="mdi mdi-arrow-left-bold"></span></button>
                                        </div>
                                        <div class="text-center">
                                            <h3>Solicitud en Proceso</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="text" id="idSolicitud" disabled hidden>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="folioi">Folio de Receta</label>
                                        <input type="text" class="formulario__input" id="folioi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="solicitai">Solicita</label>
                                        <input type="text" class="formulario__input" id="solicitai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="fechai">Fecha de Solicitud</label>
                                        <input type="text" class="formulario__input" id="fechai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="ranchoi">Rancho Destino</label>
                                        <input type="text" class="formulario__input" id="ranchoi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="centroCostei">Centro de coste</label>
                                        <input type="text" class="formulario__input" id="centroCostei" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="variedadi">Variedad</label>
                                        <input type="text" class="formulario__input" id="variedadi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="empresai">Empresa</label>
                                        <input type="text" class="formulario__input" id="empresai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="temporadai">Temporada</label>
                                        <input type="text" class="formulario__input" id="temporadai" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="cantidadi">Cantidad de producto</label>
                                        <input type="text" class="formulario__input" id="cantidadi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="presentacioni">Presentacion</label>
                                        <input type="text" class="formulario__input" id="presentacioni" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="metodoi">Metodo de aplicacion</label>
                                        <input type="text" class="formulario__input" id="metodoi" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="descripcioni">Descripcion</label>
                                        <input type="text" class="formulario__input" id="descripcioni" disabled>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label">Productos</label>
                                        <button type="button" class="btn btn-primary formulario__submit" id="receta"
                                            data-bs-toggle="modal">
                                            Mostrar Receta
                                        </button>
                                    </div>
                                    <div class="formulario__campo">
                                        <label class="formulario__label" for="notaMezcla">Nota de mezclador</label>
                                        <textarea id="notaMezcla" class="formulario__input" disabled></textarea>
                                    </div>
                                    <% if (rol==="mezclador" || rol==="administrativo" ) { %>
                                        <div class="formulario__campo">
                                            <button type="button" class="formulario__submit" id="btnCerrarMescla" >Cerrar
                                                mezcla</button>
                                        </div> 
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="formCerrar" class="formularios" style="display: none;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="form">
                                <div class="titulo">
                                    <div class="col">
                                        <button class="formulario__submit" id="regresarCerrar"><span
                                                class="mdi mdi-arrow-left-bold"></span></button>
                                    </div>
                                    <div c class="text-center">
                                        <h3>Cerrar Mezcla</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="formulario__campo">
                                    <label class="formulario__label" for="idMesclas">Folio Receta</label>
                                    <input type="text" class="formulario__input" id="idMesclas" readonly>
                                </div>

                                <!-- imputs para tomar o subir imagen -->
                                <div class="formulario__campo">
                                    <label class="formulario__label" for="imagen">Imagen Receta</label>
                                    <button type="button" class="formulario__submit" id="tomarFoto">Tomar
                                        foto</button>
                                    <br>
                                    <button type="button" class="formulario__submit" id="subirFoto">Subir
                                        foto</button>
                                </div>
                                <textarea type="text" id="fileInput" hidden></textarea>
                                <div class="formulario__campo" id="InputImage" style="display: none;">
                                    <label class="formulario__label" for="fileInput">Imagen producto</label>
                                    <br>
                                    <select name="listaDeDispositivos" id="listaDeDispositivos"
                                        class="formulario__input"></select>
                                    <button class="formulario__submit btnTomarFoto" style="display: block;">Tomar foto</button>
                                    <button class="formulario__submit btnOtraFoto" style="display: none;">Tomar otra
                                        foto</button>
                                    <p id="estado"></p>
                                    <video muted="muted" id="video"></video>
                                    <canvas id="canvas" style="display: none;"></canvas> <!--ojo-->
                                    <img src="" alt="" class="photo" />
                                </div>
                                <div class="formulario__campo" id="fileImage" style="display: none;">
                                    <label for="imageFile" class="formulario__label">Subir Imagen:</label>
                                    <input type="file" name="imageFile" id="imageFile" class="formulario__input"
                                        placeholder="Seleciona Una imagen" accept="image/*">
                                    <canvas id="canvas1" style="display: none;">
                                    </canvas>
                                </div>

                                <div class="formulario__campo">
                                    <button class="formulario__submit" id="btnEntregada">Cerras Mezcla</button>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal mostar receta -->
    <%- include("../../templates/mezclas/mostrarRecetaProceso") %>

        <!-- Firebase Configuración y funciones -->
        <%- include("../../templates/mezclas/scripts") %>
            <script type="module" src="../../app/proceso/Funciones.js"></script>
</body>

</html>