      <!--modal agregar foto de dispositivo equipo-->
      <div class="modal fade" id="miModalEquipo" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="miModalLabel" style="color: black;">Agregar Baja</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="formBajaActivoDoc">
                <div class="form-group">
                  <label>CARGAR DOCUMENTO DE BAJA</label>
                  <input type="file" name="baja" id="baja" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" id="nombreBaja" disabled="" placeholder="Docuneto baja">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" style="height: 1.875rem;padding: 0.3rem 1.375rem;" type="button">Subir</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit"  form="formBajaActivoDoc" class="btn btn-primary" id="btnRegistrar">Agregar</button>
            </div>
          </div>
        </div>
      </div>