      <div class="modal fade" id="actulizarResponsiva" tabindex="-1" role="dialog" aria-labelledby="actulizarResponsivaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="actulizarResponsivaLabel" style="color: black;">Asignar Equipo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="formEditarResponsiva">
                <div class="form-group">
                  <label for="fecha_asignacion">Fecha asignacion:</label>
                  <input type="date" class="form-control" name="fecha_asignacion" id="fecha_asignacion">
                </div>
                <div class="form-group">
                  <label>Responsiva firmada</label>
                  <input type="file" name="responsiva" id="responsiva" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" id="nombreRespA" disabled placeholder="Responsiva">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" style="height: 1.875rem;padding: 0.3rem 1.375rem;" type="button">Subir</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" form="formEditarResponsiva" class="btn btn-primary" id="btnRegistrar">Guardar Cambio</button>
            </div>
          </div>
        </div>
      </div>